{% extends 'base1.html' %} {% load static %} {% block body %}
<div class="table-responsive">
<table class="table mt-5 table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Email</th>
      <th scope="col">Birthday</th>
      <th scope="col">Age</th>
      <th scope="col">Website</th>
      <th scope="col">Mobile</th>
      <!-- <th scope="col">Degree</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">FreeLance</th>
      <th scope="col">Short </th> -->
    </tr>
  </thead>
  <tbody>
    {% for i in abouts %}
    <tr>
      <td><img src="{{i.img.url}}" class="w-50" alt=""></td>
      <td>{{i.head}}</td>
      <td>{{i.email}}</td>
      <td>{{i.dob}}</td>
      <td>{{i.age}}</td>
      <td>{{i.website}}</td>
      <td>{{i.mobile}}</td>
      <!-- <td>{{i.degree}}</td>
      <td>{{i.city}}</td>
      <td>{{icountry}}</td>
      <td>{{i.freelance}}</td>
      <td>{{i.introduction}}</td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table mt-5 table-responsive">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Degree</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">FreeLance</th>
      <th scope="col">Short </th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
    {% for i in abouts %}
    <tr>
       <td>{{i.degree}}</td>
      <td>{{i.city}}</td>
      <td>{{icountry}}</td>
      <td>{{i.freelance}}</td>
      <td>{{i.introduction}}</td>

      <td>
        <a href="{% url 'about_update' i.id %}" class="btn btn-primary mt-3 position-relative" >Update</a>


        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger position-relative" name="delete" value="{{i.id}}">Delete</button>          
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock body %}
