{% extends 'base1.html' %} {% load static %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about_admin' %}"><i class='bx bx-plus border rounded p-2'></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3 " href="{% url 'about_all' %}">See All</a>
      </li>
    </ul>
  </div>
</nav>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row shadow p-5">
        <div class="form-group col-md-12">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="">Title</label>
          <input type="text" name="title" class="form-control" placeholder="Title" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Email</label>
          <input type="email" name="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Birthday</label>
          <input type="date" name="dob" class="form-control" placeholder="Birthday" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Age</label>
          <input type="number" name="age" class="form-control" placeholder="Age" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Website</label>
          <input type="url" name="website" class="form-control" placeholder="www.example.com" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Mobile</label>
          <input type="text" name="mobile" class="form-control" placeholder="Mobile number" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Degree</label>
          <input type="text" name="degree" class="form-control" placeholder="Degree" />
        </div>
        <div class="form-group col-md-6">
          <label for="">City</label>
          <input type="text" name="city" class="form-control" placeholder="City" />
        </div>
        <div class="form-group col-md-6">
          <label for="">Country</label>
          <input type="text" name="country" class="form-control" placeholder="Country" />
        </div>
        <div class="form-group col-md-6">
          <label for="">FreeLance</label>
          <select class="form-control" name="available">
            <option value="True">True</option>
            <option value="False">False</option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label for="">Short Intro</label>
          <textarea class="form-control" name="short"></textarea>
        </div>
        <div class="col-md-6 m-auto">
          <button type="submit" name="abouts" class="btn w-75 btn-primary mx-auto d-block">Submit</button>
        </div>
      </div>
    </form>

  </div>
</section>
{% endblock body %}
