<!-- !5fKlogso!+sn -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MyResume</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none "><i class="icofont-navigation-menu text-light"></i></button>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav class="nav-menu ">
            <ul>
                <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                <li><a href="#services"><i class="bx bx-server"></i> <span>Services</span></a></li>
                <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->

    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->

    <section id="hero" class="d-flex flex-column justify-content-center">
        {% for i in intro %}


        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1 class="text-light" >{{i.name}}</h1>
            <p class="text-light">I'm <span class="typed text-light" data-typed-items="Designer, Developer, Freelancer"></span></p>
            <div class="social-links ">
                <a href="{{i.twitter}}" class="twitter text-light"><i class="bx bxl-twitter"></i></a>
                <a href="{{i.facebook}}" class="facebook text-light"><i class="bx bxl-facebook"></i></a>
                <a href="{{i.instagram}}" class="instagram text-light"><i class="bx bxl-instagram"></i></a>
                <a href="{{i.linkedin}}" class="linkedin text-light"><i class="bx bxl-linkedin"></i></a>
                <a href="{{i.git}}" class="linkedin text-light"><i class="bx bxl-github"></i></a>
            </div>
        </div>
        {% endfor %}
    </section>
    <!-- End Hero -->

    {% block body %} {% endblock body %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
        {% for i in intro %}
        <div class="container">
            <h3>{{i.name}}</h3>
            <p>if debugging is the process of removing software bugs, then programming must be the process of putting them.</p>
            <div class="social-links">
                <a href="{{i.twitter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="{{i.facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="{{i.instagram}}" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="{{i.skype}}" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="{{i.linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="{{i.git}}" class="linkedin"><i class="bx bxl-github"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">{{i.name}}</a>
            </div>
        </div>
        {% endfor %}
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <!-- <div id="preloader"></div> -->

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
