{% extends 'base1.html' %} {% load static %} {% block body %}

<section id="hero" class="d-flex flex-column justify-content-center">
    

    <div class="container">
        <div class="row">
            <div class="col-md-4 p-2 font-weight-bold border"><a href="{% url 'about_admin' %}">About</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Basics</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Catgeory</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Contacts</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Educations</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Experiance</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Introduction</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Products</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Services</a></div>
            <div class="col-md-4 p-2 font-weight-bold border"><a href="">Testimonial</a></div>
        </div>
    </div>
</section>
{% endblock body %}
